[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
[submodule "extern/QTgrid-quad"]
	path = extern/QTgrid-quad
	url = https://github.com/bowangle/QTgrid-quad.git
	ignore = dirty
