[submodule "extern/numeric-type-quad"]
	path = extern/numeric-type-quad
	url = https://github.com/bowangle/numeric-type-quad.git
	ignore = dirty

[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen.git
	ignore = dirty
[submodule "extern/nlohmann_json"]
	path = extern/nlohmann_json
	url = https://github.com/nlohmann/json.git
	ignore = dirty
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
